{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Users</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>JobTitle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.LastName }}</td>
                            <td>{{ user.FirstName }}</td>
                            <td>{{ user.Email }}</td>
                            <td>{{ user.JobTitle }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% endblock %}